{% load static i18n %}
<div class="card-body">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Número
            </th>
            <th>
                Nombre
            </th>
            <th>
                Activo
            </th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}

            <tr id="{{ model.id }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ model.name }}
                </td>
                <td>
                    <span class="input-group">
                    {% if perms.base.change_entity %}
                        <a href="{% url 'base:update_entity' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent" title="modificar">
                        <i class="fa fa-edit"></i>
                        </a>
                    {% endif %}
                    {% if perms.base.delete_entity %}
                        <a href="#" model-url="{% url 'base:delete_entity' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent ml-2 delete_entity" title="eliminar">
                        <i class="fa fa-trash"></i>
                        </a>
                    {% endif %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>