{% extends 'P01/Proyectos.html' %}
{% load staticfiles %}
{% load tagspropias %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Proyectos.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_proyectos' %}">Listado de Proyectos</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalles del Proyecto</h3>
                    </div>
                    <!-- /.card-header -->
                     <div class="card-body">
                     <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                        <div class="modal-body">
                            <label class="control-label">Número del Proyecto:</label> {{ object.id }}
                            <br>
                            <label class="control-label">Nombre del Proyecto:</label> {{ object.nombre_proyecto }}
                            <br>
                            <label class="control-label">Número del Contrato:</label> {{ object.no_contrato }}
                            <br>

                            <label class="control-label">Estado:</label> {{ object.estado }}
                            <br>

                            <label class="control-label">Resolusión del Proyecto:</label> {{ object.resolusion_jefe_proyecto }}
                            <br>
                            <label class="control-label">SOSI:</label> {{ object.sosi|No_Defi }}
                            <br>
                            <label class="control-label">CENDA:</label> {{ object.cenda|No_Defi }}
                            <br>

                            <label class="control-label">Área:</label> {{ object.area }}
                            <br>

                            <label class="control-label">Jefe de Proyecto:</label> {% for i in object.jefe_proyecto.all %} {{ i }}{% endfor %}
                            <br>
                            <label class="control-label">Fecha de Inicio:</label> {{ object.fecha_inicio }}
                            <br>
                            <label class="control-label">Fecha de Entrega:</label> {{ object.fecha_entrega }}
                            <br>
                            <label class="control-label">Fecha de Terminación:</label> {{ object.fecha_terminacion }}

                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                            <div class="form-actions fluid">
                             <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'listar_proyectos' %}" type="button" class="btn btn-danger">Atrás</a>
                             </div>
                            </div>
                        {% endblock %}
                     </div>
                     </div>
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}