{% extends 'index.html' %}
{% block proyectos %}
    active
{% endblock %}
{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p01 %} active menu-open{% endblock %}
{% block menu_p01_active %} active {% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Proyectos.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Proyectos</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Proyectos</h3>
                        {% if perms.SISGDDO.add_proyecto %}
                        <a href="{% url 'agregar_proyecto' %}" title="nuevo proyecto" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Proyectos</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    No. del Proyecto
                                </th>
                                <th>
                                    Nombre  Proyecto
                                </th>

                                <th>
                                    Estado
                                </th>
                                <th>
                                    Área
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for proyecto in listproyectos %}
                                {% if request.proyecto.id != proyecto.pk %}
                                 <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ proyecto.id }}
                                        </td>
                                        <td>
                                            {{ proyecto.nombre_proyecto }}
                                        </td>

                                        <td>
                                            {{ proyecto.estado }}
                                        </td>
                                        <td>
                                            {{ proyecto.area }}
                                        </td>

                                        <td>
                                        <span class="input-group-sm">
                                        {% if perms.SISGDDO.change_proyecto %}
                                        <a href="{% url 'modificar_proyecto' proyecto.pk %}"
                                         class="btn btn-sm btn-primary" title="modificar">
                                         <i class="fa fa-edit"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.SISGDDO.view_proyecto %}
                                        <a href="{% url 'detalle_proyecto' proyecto.pk %}"
                                         class="btn btn-sm btn-primary" title="detalles">
                                         <i class="fa fa-eye"></i>
                                        </a>
                                        {% endif %}
                                        </span>
                                        </td>
                                 </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}