{% extends 'P01/SOSI.html' %}
{% load staticfiles %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sistema Organizacional de Salvas de Información.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_sosi' %}">Listado del SOSI</a></li>
                            <li class="breadcrumb-item active">Agregar</li>
                       {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Formulario Del SOSI</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="form-row">
                            {% for campo in forms %}
                                {% if  forloop.counter <= 2 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% else %}
                                    {% if  forloop.counter > 2 and forloop.counter <= 4%}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% else %}
                                    {% if forloop.counter > 4 and forloop.counter <= 6 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% else %}
                                    {% if forloop.counter > 6 and forloop.counter <= 8 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                    {% if forloop.counter > 8 and forloop.counter <= 10 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                        {% if forloop.counter > 10 and forloop.counter <= 12 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                        {% if forloop.counter > 12 and forloop.counter <= 14 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                        {% if forloop.counter > 14 and forloop.counter <= 16 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                        {% if forloop.counter > 16 and forloop.counter <= 18 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                        {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}

                            {% endfor %}

                        </div>
                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                         <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a href="{% url 'listar_sosi' %}" type="button" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                        {% endblock %}
                    </form>
                    <!-- END FORM--
                    </div><-- /.card -->
                    </div>
                 </div><!-- /.card -->
             </div>  <!-- /.card -->
        </div>    <!-- /.col -->
        </div>    <!-- /.row -->
</section>
{% endblock %}
{% block script %}
<script>
$('#id_numero_salva,#id_anno').keypress(function( event )
{
    //CAMPOS VACIOS
    return validate_only_number($(this), event);

});
$('#id_cod_proyecto').keypress(function( event )
{
    //CAMPOS VACIOS
    return validate_only_number_and_text($(this), event);

});
$('#id_persona_entrega,#id_persona_recibe,#id_autor,#id_nombre_proy_prod').keypress(function( event )
{
    //CAMPOS VACIOS
    return validate_only_text($(this), event);

});
$('#id_ubicacion_salv').keypress(function( event )
{
    //CAMPOS VACIOS
    return validate_only_number_and_text_and_guion($(this), event);

});
</script>
{% endblock %}