{% extends 'P14/acuerdo_consejo.html' %}
{% load staticfiles %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Acuerdos del Consejo de Dirección.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_acuerdos' %}">Listado de Acuerdos del Consejo</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalle del Acuerdo del Consejillo</h3>
                    </div>
                    <!-- /.card-header -->
                  <div class="card-body">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                        {% csrf_token %}

                        <div class="modal-body">
                            <label class="control-label">Número de Acuerdo:</label> {{ object.id }}
                            <br>
                            <label class="control-label">Fecha de Tomada:</label> {{ object.fecha_tomada }}
                            <br>
                            <label class="control-label">Estado del Acuerdo:</label> {{ object.estado_acuerd }}
                            <br>
                            <label class="control-label">Fecha a Cumplir:</label> {{ object.fecha_cumplir }}
                            <br>
                            <label class="control-label">Descripción:</label> {{ object.descripcion }}
                            <br>
                            <label class="control-label">Responsable:</label> {% for t in object.responsable.all %} {{ t|capfirst}} {% if not forloop.last %},{% else %}.{% endif %}
                             {% endfor %}
                        </div>


                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                          <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'listar_acuerdos' %}" type="button" class="btn btn-danger">Atrás</a>
                            </div>
                          </div>
                        {% endblock %}
                  </div>
                  </div>
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}