{% extends 'nomencladores/consecutivo/consecutivo.html' %}
{% load static %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Detalles de consecutivo </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_consecutivo' %}">Procesos / Información / consecutivo</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<style>
    .no-padding-left{
        padding-left: 0 !important;
    }

    .bordear{
        border-radius: 16px;
        border: 1px solid #ccc !important;
        padding: 0.01em 16px;
    }
</style>
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% comment %}<div class="card-header">
                        <h3 class="card-title">Detalle de la Incidencia</h3>
                    </div>
                    <!-- /.card-header -->{% endcomment %}
                    <div class="card-body">
                    <div class="row portlet-body form">
                    <!-- BEGIN FORM-->

                        <div class="col-md-6 modal-body">
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>No:</label>
                                    <span>{{ object.no }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Informe de apertura:</label>
                                    <span>{{ object.informe_apertura }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Informe de cierre:</label>
                                    <span>{{ object.informe_cierre }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Código:</label>
                                    <span>{{ object.codigo }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Formatos:</label>
                                    <span>
                                        {% for formato in object.formato.all %}
                                            {{ formato }} {% if not forloop.last %} - {% endif %}
                                        {% endfor %}
                                    </span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Nombre del proyecto:</label>
                                    <span>{{ object.nombre_proyecto }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha de entrada:</label>
                                    <span>{{ object.fecha_entrada }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha de terminación:</label>
                                    <span>{{ object.fecha_cierre }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha de extensión:</label>
                                    <span>{{ object.fecha_extension }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Tipo de proyecto:</label>
                                    <span>{{ object.tipo }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Área:</label>
                                    <span>{{ object.area }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Jefe de proyecto:</label>
                                    <span>{{ object.jefe }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fuente de financiamiento:</label>
                                    <span>{{ object.fuente_financiamiento }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Aprobación Consejo Editorial:</label>
                                    <span>{{ object.aprobacion_consejo }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha aprobación Consejo:</label>
                                    <span>{{ object.fecha_aprobacion }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-12" style="display: inline-block">
                                    <label>Estado:</label>
                                    <span>{{ object.estado }}</span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bordear pull-right">
                            <span>Del perfil del proyecto</span>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha de inicio:</label>
                                    <span>{{ object.fecha_inicio }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Fecha de fin:</label>
                                    <span>{{ object.fecha_terminacion }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Presupuesto aprobado:</label>
                                    <span>{{ object.costo }}</span> 
                                </div>
                            </div>    
                            <span>Información de interés</span>
                            <div class="row no-padding-left">
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Costo de no calidad:</label>
                                    <span>{{ costo_no_calidad }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Costo real:</label>
                                    <span>{{ costo_real }}</span> 
                                </div>
                                <div class="col-md-4" style="display: inline-block">
                                    <label>Días de atraso:</label>
                                    <span>{{ dias_atraso }}</span> 
                                </div>
                            </div>
                            <div class="row no-padding-left">
                                <div class="col-md-12" style="display: inline-block">
                                    <label>Observaciones:</label>
                                    <span>{{ object.observacion }}</span> 
                                </div>
                            </div>                         
                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                          <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'listar_consecutivo' %}" type="button" class="btn btn-danger">Atrás</a>
                            </div>
                          </div>
                        {% endblock %}
                    </div>
                    </div>
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}