{% extends 'index.html' %}
{% block quejas %}
    active
{% endblock %}
{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p00 %} active menu-open{% endblock %}
{% block menu_p00_active %} active {% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Atención al cliente externo.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Atención al cliente externo</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <section class="content-">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Quejas de la Atención al cliente externo</h3>

                        {% if perms.SISGDDO.add_atencion_cliente_externo %}
                        <a href="{% url 'agregar_atencioncliente' %}" title="nueva queja"class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Quejas</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Fecha Recibido
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Proceso
                                </th>
                                 <th>
                                    Tiempo de Demora en días
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for atenclientes in listatecli %}

                                <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ atenclientes.fecha_recibido }}
                                        </td>
                                        <td>
                                            {{ atenclientes.estado }}
                                        </td>
                                        <td>
                                            {{ atenclientes.proceso }}
                                        </td>
                                        <td>
                                            {{ atenclientes.calcularTiempodemoraenDias }}
                                        </td>

                                    <td>
                                    <span title="modificar" class="input-group-sm">
                                    {% if perms.SISGDDO.change_atencion_cliente_externo %}
                                    <a href="{% url 'modificar_atencioncliente' atenclientes.pk %}"
                                        class="btn btn-sm btn-primary" title="modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.SISGDDO.view_atencion_cliente_externo %}
                                    <a href="{% url 'detalle_atencioncliente' atenclientes.pk %}"
                                         class="btn btn-sm btn-primary" title="detalles">
                                    <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}

                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}