{% extends 'index.html' %}
{% block auditoria_interna %}
    active
{% endblock %}
{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p00 %} active menu-open{% endblock %}
{% block menu_p00_active %} active {% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Auditoría Interna.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Auditoría Interna</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Auditoría Interna</h3>
                        {% if perms.SISGDDO.add_auditoria_interna %}
                        <a href="{% url 'agregar_auditoriaint' %}" title="nueva auditoría" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus" > Auditoría</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Título del informe
                                </th>
                                <th>
                                    Fecha
                                </th>


                                <th>
                                    Área
                                </th>


                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for auditoriainterna in listaudint %}

                                <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ auditoriainterna.titulo_inf }}
                                        </td>
                                        <td>
                                            {{ auditoriainterna.fecha_aud }}
                                        </td>
                                        <td>
                                            {{ auditoriainterna.area }}
                                        </td>


                                    <td>
                                    <span class="input-group-sm">
                                    {% if perms.SISGDDO.change_auditoria_interna %}
                                    <a href="{% url 'modificar_auditoriaint' auditoriainterna.pk %}"
                                        class="btn btn-sm btn-primary" title="modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.SISGDDO.view_auditoria_interna %}
                                     <a href="{% url 'detalle_auditoriaint' auditoriainterna.pk %}"
                                         class="btn btn-sm btn-primary" title="detalles">
                                         <i class="fa fa-eye"></i>
                                     </a>
                                    {% endif %}
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}