{% extends 'index.html' %}
{% block auditoria_externa %}
    active
{% endblock %}
{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p00 %} active menu-open{% endblock %}
{% block menu_p00_active %} active {% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Auditoría Externa.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Auditoría Externa</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Auditorías Externas</h3>
                        {% if perms.SISGDDO.add_auditoria_externa %}
                        <a href="{% url 'agregar_auditoriaext' %}" title="nueva auditoría" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus" > Auditoría</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    No Registro
                                </th>
                                <th>
                                    Fecha Emisión
                                </th>
                                <th>
                                    Áreas
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for auditoriaexterna in listaudext %}

                                <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ auditoriaexterna.no_registro }}
                                        </td>
                                        <td>
                                            {{ auditoriaexterna.fecha_emision }}
                                        </td>
                                        <td>
                                            {% for t in auditoriaexterna.area.all %} {{ t|capfirst}} {% if not forloop.last %},{% else %}.{% endif %}{% endfor %}
                                        </td>

                                    <td>
                                    <span class="input-group-sm" title="modificar">
                                    {% if perms.SISGDDO.change_auditoria_externa %}
                                    <a href="{% url 'modificar_auditoriaext' auditoriaexterna.pk %}"
                                        class="btn btn-sm btn-primary" title="modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.SISGDDO.view_auditoria_externa %}
                                     <a href="{% url 'detalle_auditoriaext' auditoriaexterna.pk %}"
                                         class="btn btn-sm btn-primary" title="detalles">
                                         <i class="fa fa-eye"></i>
                                     </a>
                                    {% endif %}
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}