{% extends 'P03/Dictamen.html' %}
{% load staticfiles %}
{% load tagspropias %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dictamen Técnicos de los Proyectos.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_dictamenes' %}">Listado de Dictámenes Técnicos</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalle del Dictamen Técnico</h3>
                    </div>
                    <!-- /.card-header -->
                     <div class="card-body">
                     <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                        <div class="modal-body">
                            <label class="control-label">No. Dictamen:</label> {{ object.no_dictamen }}
                            <br>
                            <label class="control-label">Entradas del Proyecto:</label> {{ object.entradas_proyectos }}
                            <br>
                            <label class="control-label">Fecha:</label> {{ object.fecha }}
                            <br>
                            <label class="control-label">Diseñador:</label> {{ object.disennador|No_Defi }}
                            <br>
                            <label class="control-label">Idioma Subtitulado:</label> {{ object.idioma_subtitulado|No_Defi }}
                            <br>
                            <label class="control-label">Nombre de los Capítulos:</label> {{ object.nombre_capitulos|No_Defi }}
                            <br>
                            <label class="control-label">Nuevo Idioma:</label> {{ object.nuevo_idioma|No_Defi }}
                            <br>
                            <label class="control-label">Documento:</label> {{ object.documento|No_Defi }}
                            <br>
                            <label class="control-label">Estado:</label> {{ object.estado_dictamen }}
                            <br>
                            <label class="control-label">Evaluado por:</label> {{ object.eval_por }}

                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                          <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'listar_dictamenes' %}" type="button" class="btn btn-danger">Atrás</a>
                            </div>
                          </div>
                        {% endblock %}

                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}
