{% extends 'P03/Historico_ Entradas_Proyectos.html' %}
{% load staticfiles %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Histórico de Entradas de los Proyectos.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_entradasproyectos' %}">Listado de Proyectos</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalles de la Histórico</h3>
                    </div>
                    <!-- /.card-header -->
                     <div class="card-body">
                     <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                        <div class="modal-body">
                            <label class="control-label">Entrada del proyecto:</label> {{ object.entradas_proyectos }}
                            <br>
                            <label class="control-label">Entregado por:</label> {{ object.entregado_por }}
                            <br>
                            <label class="control-label">Recibido por:</label> {{ object.recibida_por }}
                            <br>

                            <label class="control-label">Comentarios:</label> {{ object.comentarios }}
                            <br>

                            <label class="control-label">Fecha:</label> {{ object.fecha }}

                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                            <div class="form-actions fluid">
                             <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'listar_histentproy' %}" type="button" class="btn btn-danger">Atrás</a>
                             </div>
                            </div>
                        {% endblock %}
                     </div>
                     </div>
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}