{% extends 'nomencladores/estado_cenda/estado_cenda.html' %}
{% load static %}
{% comment %} {% load staticfiles %} {% endcomment %}
<script src="{% static 'assets/dist/js/myjs.js' %}"></script>

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Modificar Estado CENDA</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Nomencladores</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_tipo_de_obra' %}">Estado CENDA</a></li>
                            <li class="breadcrumb-item active">Modificar </li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% comment %} <div class="card-header">
                        <h3 class="card-title">Formulario de Obra</h3>
                    </div>
                    <!-- /.card-header --> {% endcomment %}

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-body">
                            {% for campo in form %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-4">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                         <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                                <a href="{% url 'listar_estado_cenda' %}" type="button" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                        {% endblock %}
                    </form>
                    <!-- END FORM-->
                    </div><!-- /.card-body -->
                    </div><!-- /.card -->
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}
{% block script %}

    <script type="application/javascript">

//VALIDACION CAMPOS VACIOS
$('#id_nombre').bind('focusout',function(){
    validate_campos_vacios($(this));
});
   //VALIDACION SOLO LETRAS INCLUYENDO Ñ Y ñ
$('#id_nombre').keypress(function( event )
{
    //CAMPOS VACIOS
    return validate_only_text($(this), event);

});
</script>
{% endblock %}