{% extends 'index.html' %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Indicadores de Eficacia.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Indicador.</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Indicadores </h3>
                        {% if perms.SISGDDO.add_indicador_eficacia %}
                        <a href="{% url 'agregar_indeficacia' %}" title="nuevo indicador" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Nuevo Indicador</span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Indicador
                                </th>
                                <th>
                                    Proceso
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for indicador in listindefic %}

                                <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ indicador.nombre_ind }}

                                        </td>
                                        <td>
                                            {{ indicador.proceso }}

                                        </td>




                                    <td>
                                    <span class="input-group-sm">
                                    {% if perms.SISGDDO.change_indicador_eficacia %}
                                    <a href="{% url 'modificar_indeficacia' indicador.pk %}"
                                        class="btn btn-sm btn-primary" title="modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}

                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}